<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425571269096-im6vbcb7lmodpso8pes0fjkevi9hjqe5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425571269096-im6vbcb7lmodpso8pes0fjkevi9hjqe5</string>
	<key>API_KEY</key>
	<string>AIzaSyDfUEl7RVZiPZuoXzKrZ3Endq7Z-deiHHA</string>
	<key>GCM_SENDER_ID</key>
	<string>425571269096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>login-a7edf</string>
	<key>STORAGE_BUCKET</key>
	<string>login-a7edf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425571269096:ios:826131baf06b4ab771cc5d</string>
</dict>
</plist>